---
import SideSect from "@/section_utils/SideSect.astro";
import { getI18N } from "@i18n/index";
const i18n = getI18N(Astro, "index").WHAT_AWNING_CHOOSE;
const imgUrl = "https://cdn.lamangaexperience.com/imgs/sail-sunny.avif";

---

<SideSect
    textSide="left"
    marginWeight="bottom"
    title={i18n.TITLE}
    imgUrl={imgUrl}
    imgAlt={i18n.IMG_ALT}
>
    <p set:html={i18n.P1}></p>
    <p set:html={i18n.P2}></p>
    <p set:html={i18n.P3}></p>
</SideSect>

<style>
    p:nth-of-type(2) {
        margin-block: 24px;
    }
</style>