---
import CardTopProduct from "@/cards/CardTopProduct.astro";
import CenterSectHeader from "@/section_utils/CenterSectHeader.astro";
import { getI18N } from "@i18n/index";
const i18n = getI18N(Astro, "index").TOP_PRODUCTS;

interface Product {
    CATEGORY: string,
    TITLE: string,
    DESCRIPTION: string,
    IMG_ALT: string,
    BTN_HREF: string
}
const products: [Product] = i18n.PRODUCTS;
const imgProduct1 = "https://cdn.lamangaexperience.com/imgs/retractable-awning.avif";
const imgProduct2 = "https://cdn.lamangaexperience.com/imgs/pergola-gazebo.avif";
const imgProduct3 = "https://cdn.lamangaexperience.com/imgs/pool-cover-rounded.avif";
const imgs = [imgProduct1, imgProduct2, imgProduct3]

---

<section class="content-grid" id="top-products">
    <CenterSectHeader title={i18n.TITLE} />
    <div class="wrapper">
        {products.map((product, idx) => (
            <CardTopProduct 
                category={product.CATEGORY} title={product.TITLE} descr={product.DESCRIPTION}
                imgUrl={imgs[idx]} imgAlt={product.IMG_ALT}
                btnTitle={i18n.BTN_TITLE} btnHref={product.BTN_HREF}
            />
        ))}
    </div>
</section>

<style>
    #top-products {
        background-color: var(--main-darker);
        padding-block: 64px;
    }
    #top-products .wrapper {
        display: flex;
        flex-direction: column;
        gap: 64px;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 768px) {
        #top-products { padding-block: 80px }
    }
    @media screen and (min-width: 1024px) {
        #top-products .wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 96px;
        }
    }
    @media screen and (min-width: 1280px) {
        #top-products { padding-block: 120px }
        #top-products .wrapper {
            flex-wrap: nowrap;
            gap: 40px;
            justify-content: space-between;
        }
    }
</style>