---
interface Props {
    category: string,
    title: string,
    descr: string,
    imgUrl: string,
    imgAlt: string,
    btnTitle: string,
    btnHref: string
}
const { category, title, descr, imgUrl, imgAlt, btnTitle, btnHref } = Astro.props
---
<div class="card-product">
    <h3 class="small">{category}</h3>
    <img src={imgUrl} alt={imgAlt} />
    <h4>{title}</h4>
    <p>{descr}</p>
    <a href={btnHref}>{btnTitle}</a>
</div>

<style>
    .card-product {
        box-sizing: border-box;
        min-width: 320px;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        border-radius: 16px;
        background-color: color-mix(in srgb, var(--black) 80%, transparent);
        text-align: center;
        color: white;
    }
    .card-product h3, .card-product h4, .card-product a { text-transform: uppercase }
    .card-product h3 { font-weight: 400; letter-spacing: 5px }
    .card-product h4 { font-weight: 500 }
    .card-product img {
        width: 100%;
        aspect-ratio: 392/296;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        margin-block: 16px;
    }
    .card-product p {
        margin-block: 20px 32px;
    }
    .card-product a {
        box-sizing: border-box;
        padding: 12px 32px;
        border: 1px solid white;
        border-radius: 24px;
        font-size: 18px;
        font-weight: 300;
    }
    .card-product:hover {
        background-color: var(--black);
    }
    .card-product a:hover {
        background-color: white;
        color: var(--black);
    }
    @media screen and (min-width: 768px) {
        .card-product {
            padding: 20px;
            border-radius: 20px;
        }
        .card-product img {
            margin-block: 20px;
            border-radius: 10px;
        }
        .card-product p { margin-block: 24px 40px }
    }
    @media screen and (min-width: 1536px) {
        .card-product {
            max-width: 440px;
            padding: 24px;
            border-radius: 24px;
        }
        .card-product img { border-radius: 12px }
    }
</style>