---
import Header from '@/Header.astro';
import Footer from '@/Footer.astro';
const HeroImgDesktop = "https://cdn.lamangaexperience.com/imgs/awning-beach-bar.avif";
const HeroImgPhone = "https://cdn.lamangaexperience.com/imgs/awning-beach-bar-phone.avif";


const currentLocale = Astro.currentLocale;
const lang = (currentLocale==="es"||currentLocale==="en")? currentLocale : "en";

function getLink(a:string) {
	return "https://tomatuweb.es" + a
}

interface Props {
	title: string,
	path: string,
	index: 'index' | 'noindex',
	follow: 'follow' | 'nofollow',
	descr: string,
	error?: '404'
}

const { title, path, index, follow, descr, error } = Astro.props;

const esPath = getLink(path);
const enPath = getLink("/en"+path);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>

		<link rel="preconnect" href="https://cdn.lamangaexperience.com/">

		{!error && path==="" && (
			<link rel="preload" href={HeroImgDesktop} as="image" media="(min-width: 480px)" />
			<link rel="preload" href={HeroImgPhone} as="image" media="(max-width: 479px)" />
		)}		

		<link rel="preload" href="https://cdn.lamangaexperience.com/fonts/kaiseiopti/kaiseiopti-medium.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="https://cdn.lamangaexperience.com/fonts/lato/lato-regular.woff2" as="font" type="font/woff2" crossorigin>

		<!-- {(!error) && (
			<link rel="alternate" hreflang="es" href={esPath} />
			<link rel="alternate" hreflang="en" href={enPath} />
			<link rel="canonical" href={lang ==="es" ? esPath : enPath} />
		)} -->

		<meta name="description" content={descr} />
		<meta name="robots" content={index + ', ' + follow} />
		<meta name="referrer" content="no-referrer-when-downgrade" />

		<link rel="icon" type="image/svg+xml" href="https://cdn.lamangaexperience.com/icons/favicon.svg" />

		<!-- Open Graph for Social Media -->
		<meta property="og:title" content="TomaTuWeb - Agencia de diseño Web" />
		<meta property="og:description" content="Diseño y producción de páginas web a un precio competitivo." />
		<!-- <meta property="og:image" content="https://example.com/og-image.jpg" /> -->
		<meta property="og:url" content="https://lamangaexperience.com" />
		<meta property="og:type" content="website" />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="TomaTuWeb - Agencia de diseño Web" />
		<meta name="twitter:description" content="Diseño y producción de páginas web a un precio competitivo." />
		<!-- <meta name="twitter:image" content="https://example.com/twitter-image.jpg" /> -->
		<meta name="twitter:site" content="@LaMangaExperience" />

	</head>

	<body>
		<Header path={path}/>
		<main>
			<slot />
			<Footer />
		</main>
	</body>
</html>

<style is:global>
	@font-face { 
		font-family: 'KaiseiOpti'; src: url('https://cdn.lamangaexperience.com/fonts/kaiseiopti/kaiseiopti-regular.woff2') format('woff2');
		font-weight: 400;
	}
	@font-face { 
		font-family: 'KaiseiOpti'; src: url('https://cdn.lamangaexperience.com/fonts/kaiseiOpti/kaiseiopti-medium.woff2') format('woff2');
		font-weight: 500;
	}
	@font-face { 
		font-family: 'lato'; src: url('https://cdn.lamangaexperience.com/fonts/lato/lato-light.woff2') format('woff2');
		font-weight: 300;
	}
	@font-face {
		font-family: 'lato'; src: url('https://cdn.lamangaexperience.com/fonts/lato/lato-regular.woff2') format('woff2');
		font-weight: 400;
	}
	@font-face {
		font-family: 'lato'; src: url('https://cdn.lamangaexperience.com/fonts/lato/lato-bold.woff2') format('woff2');
		font-weight: 700;
	}
	@font-face {
		font-family: 'lato'; src: url('https://cdn.lamangaexperience.com/fonts/lato/lato-black.woff2') format('woff2');
		font-weight: 900;
	}

	/* RESET DE ESTILOS */
	body, h1, h2, h3, h4, p, ul { margin: 0; padding: 0 }
	small { font-size: unset }
	a { text-decoration: none; color: inherit }
	ul { list-style-type: none }
	input, textarea, input::placeholder, textarea::placeholder, button { font-family: lato, system-ui, sans-serif; background-color: transparent }
	em { font-style: normal; font-weight: 700 }

	:root {
		--padding-inline: 16px;
		--content-max-width: 1440px;
		--breakout-max-width: 1920px;

		--main: #FFF;
		--main-darker: #F6F6F6;
		--secondary: #F1DECA;
		--black: #1A191E;
	}

	.content-grid {
		--content-size: min(100% - (var(--padding-inline) * 2), var(--content-max-width));
		--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

		display: grid;
		grid-template-columns: 
		[full-start] minmax(var(--padding-inline), 1fr) 
		[breakout-start] minmax(0, var(--breakout-size))
		[content-start] var(--content-size) [content-end] 
		minmax(0, var(--breakout-size)) [breakout-end] 
		minmax(var(--padding-inline), 1fr) [full-end];
	}
	.content-grid > * { grid-column: content }
	.content-grid > .breakout { grid-column: breakout }
	.content-grid > .full { grid-column: full }

	html {
		font-family: lato, system-ui, sans-serif;
		color: var(--black);
		/* text-wrap: pretty; */
		scroll-behavior: smooth;
	}
	body { font-size: 16px }
	span.title { font-family: KaiseiOpti, sans-serif; font-size: 32px }
	h2 { text-transform: uppercase; font-size: 26px; font-weight: 500 }
	h2.big { font-size: 30px }
	h3 { font-size: 20px}
	h3.small { font-size: 18px }
	h4 { font-size: 24px }
	.small { font-size: 15px }
	.smallest {font-size: 13px }

	@media screen and (min-width: 768px) {
		:root { --padding-inline: 32px }
		body { font-size: 18px }
		span.title { font-size: 40px }
		h2 { font-size: 30px }
		h2.big { font-size: 36px }
		h3 { font-size: 22px}
		h3.small { font-size: 20px }
		h4 { font-size: 28px }
		.small { font-size: 16px }
		.smallest {font-size: 14px }
	}
	@media screen and (min-width: 1280px) {
		:root { --padding-inline: 48px }
		body { font-size: 20px }
		span.title { font-size: 52px }
		h2 { font-size: 34px }
		h2.big { font-size: 48px }
		h3 { font-size: 24px}
		h3.small { font-size: 22px }
		h4 { font-size: 32px }
		.small { font-size: 18px }
		.smallest {font-size: 15px }
	}
	@media screen and (min-width: 1536px) { :root { --padding-inline: 64px } }

	@keyframes shadowPulse {
		from { box-shadow: 0 0 1px black }
		to { box-shadow: 0 0 10px rgba(0,0,0,0.25) }
	}
</style>
