---
import DownArrow from "@/icons/DownArrow.astro";
import { getUrl } from "src/utils/getUrl";
import { getI18N } from "@i18n/index";
import Logo from "@icons/Logo.astro";
const lang = Astro.currentLocale ?? "en"

const i18n = getI18N(Astro, "index").NAVIGATION;

interface SubCategory {
    TITLE: string,
    HREF: string
}
interface Link {
    CATEGORY: string,
    SUB_CATEGORIES: [SubCategory]
}
const links: [Link] = i18n.LINKS;
const header = i18n.HEADER;
const home = header.HOME_LINK;

const toggleBars = Array(3).fill(0);
---

<label class="nav-toggle-menu">
    <input type="checkbox" />
    <div class="open-menu">{toggleBars.map(() => <span aria-hidden="true"></span>)}</div>

    <div class="opacity-block"></div>

    <nav class="phone">
        <div class="header">
            <Logo />
            <div class="close-menu">X</div>
        </div>
        <ul class="category">
            <li><a href={home.HREF}>{home.TITLE}</a></li>
            {links.map((link) => (
                <li>
                    <label><input type="checkbox" />
                        <div class="category-name">{link.CATEGORY}<DownArrow /></div>
                        <ul class="subcategory small">
                            {link.SUB_CATEGORIES.map((e) => <li><a href={getUrl(lang, e.HREF)}>{e.TITLE}</a></li> )}
                        </ul>
                    </label>
                </li>
            ))}
        </ul>
        <a href="#contact-us">{header.BTN_TITLE}</a>
    </nav>
</label>

<style>
    label.nav-toggle-menu input { display: none }
    label.nav-toggle-menu { --nav-phone-px: 32px }
    label.nav-toggle-menu .open-menu {
        box-sizing: border-box;
        width: 40px;
        height: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        border: 1px solid white;
        border-radius: 8px;
        background-color: var(--black);
        cursor: pointer;
    }
    label.nav-toggle-menu .open-menu span {
        width: 24px;
        height: 2px;
        border-radius: 24px;
        background: white;
    }
    label.nav-toggle-menu .opacity-block {
        position: absolute;
        display: none;
        width: 100%;
        height: 100dvh;
        top: 0;
        left: 0;
        background-color: var(--black);
        opacity: 0.5;

        z-index: 102;
    }
    label.nav-toggle-menu > input:checked ~ nav.phone { left: 0 }
    label.nav-toggle-menu > input:checked ~ .opacity-block { display: block }

    nav.phone {
        position: absolute;
        width: 100%;
        max-width: 564px;
        top: 0;
        left: calc(-1 * min(564px, 100%));
        background-color: var(--main-dark);
        color: var(--black);
        transition: left 180ms ease-in-out;
        z-index: 103;
    }
    nav.phone .header {
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: var(--nav-phone-px);
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }
    nav.phone .category-name {
        display: flex;
        gap: 6px;
        align-items: center;
    }
    nav.phone li a, nav.phone li .category-name, nav.phone ul.subcategory li, nav.phone > a { padding-inline: var(--nav-phone-px) }
    nav.phone ul a, nav.phone > a { display: block }
    nav.phone ul.category > li > a,
    nav.phone ul.category li .category-name, nav.phone > a {
        padding-block: 20px;
        cursor: pointer;
    }
    nav.phone ul.category {
        max-height: min(604px, 60dvh);
        padding-bottom: 4px;
        overflow-y: auto;
    }
    nav.phone ul.subcategory {
        height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        opacity: 0;
    }
    nav.phone ul.subcategory a {;
        padding-block: 10px;
    }
    nav.phone ul.category > li a:hover, nav.phone .category-name:hover {
        background-color: var(--black);
        color: white;
    }
    nav.phone input:checked ~ ul.subcategory {
        height: fit-content;
        padding-block: 4px;
        opacity: 1;
    }
    nav.phone input:checked ~ .category-name {
        background-color: var(--black);
        color: white;
    }
    nav.phone > a {
        background-color: var(--black);
        color: white;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }
    @media screen and (min-width: 768px) {
        label.nav-toggle-menu { --nav-phone-px: 48px }
    }
    @media screen and (min-width: 1280px) {
        label.nav-toggle-menu { display: none }
    }
</style>